.custom-ant-item-margin-remove {
  .ant-form-item {
    margin-bottom: 0px !important;
  }
}

.custom-ant-form-item-m0 {
  .ant-form-item {
    margin-bottom: 0px !important;
  }
}

.custom-ant-form-item-width-full {
  .ant-form-item {
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ant-menu-sub {
    background-color: #262626 !important;
  }
}

.custom-antd-selecter {
  .ant-select-selection-item {
    background-color: #ffffff !important;
    border: 1px solid #d9d9d9 !important;
    // text-align: center !important;
    // align-items: center !important;
    // justify-content: center !important;
    // display: flex !important;
    margin-bottom: 20px !important;
  }

  // .ant-select-selector {
  //   height: 33px !important;
  // }
}

.custom-ant-modal-footer-remove {
  .ant-modal-footer {
    padding: 0px !important;
    w-full: 100% !important;
  }
}
.custom-btn-remove-bg {
  .ant-btn-default {
    background-color: #f5f8f8 !important;
    width: 100% !important;
  }
  .ant-upload-wrapper .ant-upload {
    width: 100% !important;
  }
  .ant-upload-wrapper .ant-upload-select {
    width: 100% !important;
    display: flex;
    flex-direction: row;
  }
  .ant-btn {
    width: 100% !important;
  }
}

.custom-ant-radio-button {
  .ant-radio-button-wrapper {
    font-size: 14px !important;
  }
}

.custom-ant-date-range-picker {
  .ant-picker-input {
    font-size: 14px !important;
  }
  .ant-picker {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 40px;
  }
  input {
    font-size: 14px !important;
  }
}

.ant-form-item-control-input {
  // .ant-input-affix-wrapper {
  //   height: 40px;
  // }
  // .ant-picker {
  //   height: 32px;
  // }
  .ant-select-selection-search-input {
    height: 40px !important;
  }
}

.ant-layot-picker {
  .ant-picker {
    height: 40px;
  }
}

.custom-ant-card-padding-remove {
  .ant-card-body {
    padding: 0 !important;
  }

  .ant-card-head {
    padding: 0 !important;
  }
}

.custom-ant-card-padding-top-remove {
  .ant-card-body {
    padding-top: 0 !important;
  }

  .ant-card-head {
    padding-top: 0 !important;
  }
}

.custom-ant-card-padding-border-remove {
  .ant-card-body {
    padding: 0 !important;
  }

  .ant-card-head {
    padding: 0 !important;
    border-bottom: none !important;
  }
}

.remove-padding-table {
  .ant-pro-card .ant-pro-card-body {
    padding-inline: 0 !important;
  }
}

.tailCss {
  .ant-steps-item-tail {
    left: 23px !important;
  }

  .ant-steps-item-icon {
    width: fit-content !important;
    height: fit-content !important;
    margin-top: 0px !important;
  }
  .ant-steps.ant-steps-vertical.ant-steps-dot
    .ant-steps-item
    > .ant-steps-item-container
    > .ant-steps-item-tail {
    padding: 0 !important;
  }
  .ant-steps.ant-steps-vertical
    > .ant-steps-item
    > .ant-steps-item-container
    > .ant-steps-item-tail {
    padding: 0 !important;
  }
  .ant-steps-item-tail {
    padding: none !important;
  }
}

.crediantialsCardBody {
  .ant-pro-card-body {
    padding-top: 13px !important;
    padding-block: 8px !important;
  }
}

.crediantialsRejectedCardBody {
  .ant-pro-card {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 241 242 / var(--tw-bg-opacity)) !important;
    border-color: rgb(253 164 175 / var(--tw-border-opacity)) !important;
  }
}

.mupltiple-selecter {
  .ant-select-selector {
    font-size: 14px !important;
    padding: 1px 4px !important;
  }
}
